.arenas-section {
  padding-top: 80px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.arenas-container {
  @include media(desktop) {
  }
}

.arenas-title {
  @include media(desktop) {
  }
}

.arenas-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #555a60;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}

.arenas-text-span {
  color: #5e6b26;
}

.arenas-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
}

.arenas-list-item {
  background: #efb928;
  padding: 32px;
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 248px;
    min-height: 304px;
  }
}

.arenas-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.arenas-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}
