.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 104px;
  padding-bottom: 104px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image:
    url(../img/contact/contact-messages-mob.png),
    url(../img/contact/contact-arrows-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position:
    top 56px left,
    bottom left;
  background-size: auto, auto;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 160px;
    max-width: 1440px;
    background-image:
      url(../img/contact/contact-messages-desk.png),
      url(../img/contact/contact-arrows-desk.png),
      url(../img/contact/contact-quote-desk.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
      top 10px left,
      bottom left,
      bottom right;
    background-size: auto, auto, auto;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  color: #262520;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 36px;
    max-width: 640px;
  }
}

.contact-btn {
  box-shadow: 4px 4px 0 0 #c3d09b;
  background: #fff;
  border: 1px solid #262520;
  padding: 11px 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #262520;
  width: 100%;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
    max-width: 397px;
  }
}
