.faq-contact-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.png);
  }
}

.faq-section {
  padding-top: 64px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  margin-bottom: 48px;

  @include media(desktop) {
    margin-bottom: 64px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.faq-list-item {
  border: 1px solid #c3d09b;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 862px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #262520;
  text-align: left;

  @include media(desktop) {
    font-size: 18px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #585550;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(-90deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}
