.play-section {
  background: #2a1512;
}

.play-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/play/play-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/play/play-bg-desk.jpg);
  }
}

.play-container {
  @include media(desktop) {
  }
}

.play-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
}

.play-text-container {
  @include media(desktop) {
    max-width: 624px;
  }
}

.play-title {
  text-align: left;
  color: #fff;

  @include media(desktop) {
  }
}

.play-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
  }
}

.play-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.play-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
