.rulesets-section {
}

.rulesets-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.rulesets-container {
  @include media(desktop) {
  }
}

.rulesets-text-wrapper {
  padding: 32px 16px;
  background-image: url(../img/rulesets/rulesets-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include media(desktop) {
    padding: 54px 32px;
    background-image: url(../img/rulesets/rulesets-bg-desk.jpg);
  }
}

.rulesets-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.rulesets-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 25px;
  list-style-type: disc;
  color: #fff;

  @include media(desktop) {
  }
}

.rulesets-list-item {
  max-width: 184px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.rulesets-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}
