<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-text-wrapper">
      <h2 class="section-title about-title">about Overview</h2>
      <p class="about-text">
        Every arena's basically its own puzzle with
        <span class="about-text-span">
          different rules you'll need to wrap your head around.
        </span>
        You'll need to figure out how each arena works before you can really
        master it.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img1-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/about/about-img1-mob.png"
              width="279"
              height="174" />
            <img
              class="about-img"
              src="./img/about/about-img1-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Rotating Fields</p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img2-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/about/about-img2-mob.png"
              width="279"
              height="174" />
            <img
              class="about-img"
              src="./img/about/about-img2-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Collapsing Grids</p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img3-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/about/about-img3-mob.png"
              width="279"
              height="174" />
            <img
              class="about-img"
              src="./img/about/about-img3-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Mirror Logic Zones</p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img4-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/about/about-img4-mob.png"
              width="279"
              height="174" />
            <img
              class="about-img"
              src="./img/about/about-img4-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Delayed Reaction about</p>
        </li>
      </ul>
    </div>
  </div>
</section>
