<section class="section arenas-section" id="arenas">
  <div class="container arenas-container">
    <div class="arenas-text-wrapper">
      <h2 class="section-title arenas-title">Arenas Overview</h2>
      <p class="arenas-text">
        Every arena's basically its own puzzle with
        <span class="arenas-text-span">
          different rules you'll need to wrap your head around.
        </span>
        You'll need to figure out how each arena works before you can really
        master it.
      </p>
      <ul class="arenas-list">
        <li class="arenas-list-item">
          <picture>
            <source
              srcset="./img/arenas/arenas-img1-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/arenas/arenas-img1-mob.png"
              width="279"
              height="174" />
            <img
              class="arenas-img"
              src="./img/arenas/arenas-img1-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="arenas-item-text">Rotating Fields</p>
        </li>
        <li class="arenas-list-item">
          <picture>
            <source
              srcset="./img/arenas/arenas-img2-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/arenas/arenas-img2-mob.png"
              width="279"
              height="174" />
            <img
              class="arenas-img"
              src="./img/arenas/arenas-img2-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="arenas-item-text">Collapsing Grids</p>
        </li>
        <li class="arenas-list-item">
          <picture>
            <source
              srcset="./img/arenas/arenas-img3-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/arenas/arenas-img3-mob.png"
              width="279"
              height="174" />
            <img
              class="arenas-img"
              src="./img/arenas/arenas-img3-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="arenas-item-text">Mirror Logic Zones</p>
        </li>
        <li class="arenas-list-item">
          <picture>
            <source
              srcset="./img/arenas/arenas-img4-desk.png"
              media="(min-width: 1440px)"
              width="184"
              height="174" />
            <source
              srcset="./img/arenas/arenas-img4-mob.png"
              width="279"
              height="174" />
            <img
              class="arenas-img"
              src="./img/arenas/arenas-img4-mob.png"
              alt="Screenshot of the game"
              width="279"
              height="174"
              loading="lazy"
          /></picture>
          <p class="arenas-item-text">Delayed Reaction Arenas</p>
        </li>
      </ul>
    </div>
  </div>
</section>
