<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="contact-title">Learn the game, dominate the competition</h2>
      <a href="mailto:info@slotarena.space" class="contact-btn">
        <span class="contact-btn-span">info@slotarena.space</span>
        <svg class="contact-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-email"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
