<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Is Mind Arena Trials a multiplayer game?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          It features asynchronous competition, not real-time matches.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are arenas random?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Nope—each arena has set rules so everyone's playing the same game.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Does the game rely on speed?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No. It's way more about thinking it through than being fast with your
          fingers.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I practice without competing?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes. Practice modes are available for every arena.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is there a penalty for failure?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No. Screwing up is just part of figuring it out—no big deal.
        </p>
      </li>
    </ul>
  </div>
</section>
