<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          It's not about speed — it's about getting it right!
        </h1>
        <p class="hero-text">
          <span class="hero-text-span"
            >Every arena plays by different rules,</span
          >
          and success comes from understanding the system — not rushing through
          it.
        </p>
        <div class="hero-bottom-wrapper">
          <div class="hero-img-wrapper">
            <img
              class="hero-img"
              src="./img/hero/hero-img-mob.png"
              alt="Screenshot of the game"
              width="210"
              height="98"
            />
            <p class="hero-img-text">
              Each level, a new challenge. Test your logic in every arena.
            </p>
          </div>
          <div class="hero-challenges-wrapper">
            <div class="hero-challenges-text-wrapper">
              <p class="hero-challenges-title">Daily Challenges</p>
              <p class="hero-challenges-text">
                Take on new puzzles every day and sharpen your skills. No two
                challenges are the same—can you master them all?
              </p>
            </div>
            <img
              class="hero-hand-img"
              src="./img/hero/hero-hand-mob.png"
              alt="Hand"
              width="52"
              height="52"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
