<section class="interaction-section section" id="interaction">
  <div class="interaction-bg-wrapper">
    <div class="container interaction-container">
      <h2 class="section-title interaction-title">Gameplay & Interaction</h2>
      <div class="interaction-swiper-container">
        <ul class="swiper-wrapper interaction-swiper-wrapper">
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img1.png"
              alt="Screenshot of the game"
              width="305"
              height="304"
              loading="lazy"
            />
            <p class="interaction-item-text">
              Exploration across interconnected rooms
            </p>
          </li>
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img2.png"
              alt="Screenshot of the game"
              width="305"
              height="304"
              loading="lazy"
            />
            <p class="interaction-item-text">
              Interaction with actors as Order members or guardians
            </p>
          </li>
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img3.png"
              alt="Screenshot of the game"
              width="305"
              height="304"
              loading="lazy"
            />
            <p class="interaction-item-text">Decision-based progression</p>
          </li>
          <li class="swiper-slide interaction-slide">
            <img
              class="interaction-img"
              src="./img/interaction/interaction-img4.png"
              alt="Screenshot of the game"
              width="305"
              height="304"
              loading="lazy"
            />
            <p class="interaction-item-text">
              Trials that test logic, perception, cooperation, and courage.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
