<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <div class="play-content-wrapper">
        <div class="play-text-container">
          <h2 class="section-title play-title">Competitive Play</h2>
          <div class="play-text-wrapper">
            <p class="play-text">
              Mind Arena Trials uses asynchronous competition, so you’re
              compared by how you solve puzzles — not by speed or luck.
            </p>
            <p class="play-text">
              No real-time PvP, no pressure. You play on your own terms.
            </p>
            <p class="play-text">
              Leaderboards reset regularly to keep competition fair and focused
              on skill.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/play/play-img-desk.png"
            media="(min-width: 1440px)"
            width="624"
            height="558" />
          <source
            srcset="./img/play/play-img-mob.png"
            width="343"
            height="343" />
          <img
            class="play-img"
            src="./img/play/play-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="343"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
